<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aplikacja Szpitalna{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <header>
        <h1>Aplikacja Szpitalna</h1>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_bp.logout') }}">Wyloguj się</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_bp.login') }}">Logowanie</a>
        </li>
        {% endif %}
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
