{% extends 'base.html' %}

{% block content %}
  <h2>Rejestracja</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
      {{ form.imie.label }}<br>
      {{ form.imie(size=32) }}
    </p>
    <p>
      {{ form.nazwisko.label }}<br>
      {{ form.nazwisko(size=32) }}
    </p>
    <p>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}
    </p>
    <p>
      {{ form.telefon.label }}<br>
      {{ form.telefon(size=32) }}
    </p>
    <p>
      {{ form.haslo.label }}<br>
      {{ form.haslo(size=32) }}
    </p>
    <p>
      {{ form.adres.label }}<br>
      {{ form.adres(size=64) }}
    </p>
    <p>
      {{ form.data_urodzenia.label }}<br>
      {{ form.data_urodzenia(min="1900-01-01", max="2025-12-31") }}
    </p>
    <p>
      {{ form.pesel.label }}<br>
      {{ form.pesel(size=11) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
