{% extends 'base.html' %}
{% block content %}
<h2>Rejestracja pacjenta</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.imie.label }} {{ form.imie(size=32) }}<br>
    {{ form.nazwisko.label }} {{ form.nazwisko(size=32) }}<br>
    {{ form.email.label }} {{ form.email(size=32) }}<br>
    {{ form.telefon.label }} {{ form.telefon(size=32) }}<br>
    {{ form.adres.label }} {{ form.adres(size=32) }}<br>
    {{ form.data_urodzenia.label }} {{ form.data_urodzenia() }}<br>
    {{ form.pesel.label }} {{ form.pesel(size=32) }}<br>
    {{ form.haslo.label }} {{ form.haslo(size=32) }}<br>
    {{ form.haslo_potwierdzenie.label }} {{ form.haslo_potwierdzenie(size=32) }}<br>
    {{ form.submit() }}
</form>
{% endblock %}
